
@{
    ViewBag.Title = "Feedback for Benjamin";
    
}

@model BBWebApplication.Models.EmailModel

<!-- Jumbotron from Bootstrap, displays header pic and title -->
<div class="jumbotron">
    <div class="container">
        <img src="/Content/Photos/lair.gif" class="img-rounded" id="feedbackImg" />
        <br />
        <h2>Feedback</h2>
    </div>
</div>
<div class="container-fluid">
    <!-- Row of columns -->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h5>
                Feel free to contact Benjamin Burgess via the following
                form with any questions, comments, concerns, or any type
                of feedback. Thanks!
            </h5>
            @using (Html.BeginForm("Feedback", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "feedback-form", role = "form" }))
            {
                @Html.ValidationSummary()
                <fieldset class="form-group">
                    <div class="col-sm-10 align-self-center">
                        <label class="name">
                            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text", @class = "form-control" })
                        </label>
                    </div>
                    <div class="col-sm-10 align-self-center">
                        <label class="email">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email", @class = "form-control" })
                        </label>
                    </div>
                    <div class="col-sm-10 align-self-center">
                        <label class="subject">
                            @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject ", @type = "text", @class = "form-control" })
                        </label>
                    </div>
                    <div class="col-sm-10 align-self-center">
                        <label class="message">
                            @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *", @class = "form-control" })
                        </label>
                    </div>
                    <div class="button-wrapper col-sm-10 align-self-center">
                        <input type="submit" value="Send" name="submit" class="button btn btn-primary"> <input type="reset" value="Reset" name="MFReset" class="button btn btn-warning"><span> * Required Fields</span>
                    </div>
                </fieldset>
            }
            <div class="error-handling">
                @Html.DisplayTextFor(m => m.Error)
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
